@font-face {
	font-family: 'Kefa'; 
	src: url('FontsFree-Net-Kefa-Regular-3.ttf'); 
}

* {
	margin: 0;
	padding: 0;
	font-family: "Kefa", sans-serif;
	text-align:center;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	max-width: 1000px;
	margin: auto;
}

h1 {
	line-height: 2em;
	padding-top: 1em;
	padding-bottom: 1em;
	font-size: 3em;
}

h2 {
	padding-bottom: 1em;
}

.content {
	flex: 1 0 auto;
	padding: 2rem;
	margin: 0 auto;
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 768px) {
	.container {
		grid-template-columns: 1fr;
	}
}


section {
	margin-top:1em;
	margin-bottom:3em;
}

p {
	font-size:16px;
}

footer {
	padding: 2rem;
	color: lightgrey;
	background-color:#333;
}

.quote {
	padding:1em;
}

a { 
	text-decoration: none; 
	border-bottom:1px dotted; 
	color: black;
}
